<% @tags = [] %>
<% (Hello.where(user_id: current_user.id)).each do |link|  %>	
	<% link.tags.each { |tag| @tags << tag } %>
<% end %>
	<% @tags.uniq! %>
	<% @tags.each do |tag|  %>
	<ul>
		<li>
		<%= link_to "##{tag.name}", tag_path(tag.name) %>
		</li>
	</ul>
	<% end %>